#bd {
  background: #f9f9f9;
  overflow: hidden;
}
#bd .register-bd {
  width: 1190px;
  margin: 0 auto;
  padding: 60px 0 50px;
  overflow: hidden;
  position: relative;
}
#bd .register-bd .imgleft {
  float: left;
  width: 780px;
  height: 460px;
  overflow: hidden;
  background-color: #fff;
}
#bd .register-bd .formright {
  float: right;
  width: 385px;
  min-height: 460px;
  border-radius: 3px;
  position: relative;
  background-color: #f9f9f9;
}
.login-tab-list {
  display: flex;
  border-bottom: 1px solid #d2d2d2;
}
.login-tab-list .login-tab-item {
  flex: 1;
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  text-align: center;
}
.login-tab-list .login-tab-item b {
  position: absolute;
  width: 1px;
  height: 20px;
  right: 0;
  top: 50%;
  margin-top: -10px;
  background-color: #d2d2d2;
}
.login-tab-list .login-tab-item.active {
  border-bottom: 3px solid #E5004F;
  color: #333;
}
.login-tab-con {
  margin-top: 20px;
  height: 222px;
}
.login-tab-con p {
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.login-tab-con img {
  margin-top: 50px;
  margin-left: 140px;
}
.inp-wrap {
  position: relative;
  height: 61px;
  line-height: 39px;
  background-color: #fff;
  padding: 10px 18px;
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
}
.inp-wrap img {
  margin-right: 20px;
  float: left;
  margin-top: 9px;
  margin-left: 0;
}
.inp-wrap input {
  height: 30px;
  line-height: 30px;
  width: 80%;
  font-size: 16px;
  color: #666;
  vertical-align: middle;
  border: 0;
}
.no-border-top {
  border-top: none;
}
.login-button {
  margin: 10px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #E5004F;
  color: #fff;
  cursor: pointer;
}
.login-reg {
  text-align: right;
  margin: 10px;
}
.login-reg a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-right: 2px;
  cursor: pointer;
}
.login-reg .forget-password {
  float: left;
  font-size: 16px;
  color: #999;
  padding-left: 10px;
}
.login-reg .register {
  float: right;
  color: #E5004F;
}
.cooperate-third {
  position: absolute;
  padding: 18px 0;
  clear: both;
  background-color: #fff;
  bottom: 0;
  width: 385px;
  height: 84px;
}
.cooperate-third .cooperate-ui {
  position: relative;
  height: 24px;
  text-align: center;
  margin: 0 20px;
}
.cooperate-third .cooperate-ui h3 {
  position: relative;
  z-index: 3;
  display: inline-block;
  height: 24px;
  padding: 0 5px;
  font-size: 12px;
  text-align: center;
  color: #999;
  font-weight: 500;
  width: 166px;
}
.cooperate-third .cooperate-list {
  clear: both;
  line-height: 24px;
  text-align: center;
  color: #999;
}
.cooperate-third .cooperate-list a {
  display: inline-block;
  height: 20px;
  margin: 0 10px;
  color: #999;
}
