#bd {
  background: #DCDCDC;
  padding: 10px 50px;
}
.bdbox {
  width: 980px;
  margin: 0 auto;
}
.shopcar {
  background-color: #fff;
  margin-top: 30px;
}
.CommodityBox {
  height: auto;
  margin-bottom: 15px;
  clear: both;
}
.PersonalMessage {
  background-color: #fffeed;
  border: 1px solid #e2e2e2;
  padding: 20px;
}
.MessageTitile {
  height: 31px;
  line-height: 24px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #e2e2e2;
}
.MessageTitile h3 {
  float: left;
  font-size: 14px;
}
.AddressInfor {
  vertical-align: middle;
}
.AddList {
  line-height: 24px;
  margin-bottom: 15px;
  overflow: hidden;
}
.AddList input {
  float: left;
  display: inline;
  margin: 6px 6px 0 38px;
}
.AddList label {
  float: left;
  display: inline;
  margin-right: 5px;
}
.FillInAdd {
  border: 1px solid #e2e2e2;
  margin: 0 80px 15px 40px;
  padding: 20px 0 10px;
  background: #f9f9f9;
}
.FillInAdd li {
  padding-bottom: 10px;
}
.FillInAdd li .Tit {
  display: inline-block;
  width: 96px;
  text-align: right;
}
.FillInAdd li input {
  padding-left: 2px;
}
.consignee {
  width: 76px;
  height: 24px;
  line-height: 20px;
}
.CheckoutWarn {
  color: #E5004F;
}
.oiien {
  color: #999;
  margin: 0 6px;
}
.Phone {
  width: 122px;
  height: 20px;
  line-height: 20px;
}
.PhonePrefix {
  width: 40px;
  height: 20px;
  line-height: 20px;
}
.PhoneExt {
  width: 66px;
  height: 24px;
  line-height: 20px;
}
.yourAddress {
  margin-top: 8px;
  margin-left: 100px;
}
.PostalCode {
  width: 82px;
  height: 24px;
  line-height: 20px;
}
.receipt-time-list {
  overflow: hidden;
}
.receipt-time-list p span {
  display: block;
  clear: both;
  padding: 0 0 8px 8px;
}
.receipt-time-list p span input {
  margin-right: 4px;
}
.receipt-time-list p span em {
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
}
.receipt-time-line {
  height: 12px;
  overflow: hidden;
  border-top: 1px dotted #CBCBCB;
  margin: 5px 16px;
}
.receipt-time-list p,
.receipt-time-list span {
  float: left;
  display: inline;
}
.Add-affirm {
  padding-left: 40px;
}
.Add-affirm .c-btn {
  margin-right: 10px;
  background: #525252 url(../images/rpt.png) repeat-x 0 -160px;
  color: #eee;
  border: 1px solid #333;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  padding: 6px 15px 8px;
  height: 30px;
}
