#bd {
  background: #DCDCDC;
  padding: 50px 0;
  position: relative;
}
#bd .sp {
  position: absolute;
  left: 90px;
  top: 15px;
  color: #E5004F;
}
.bdbox {
  width: 1190px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  overflow: hidden;
  position: relative;
  height: 600px;
}
.bdbox .mainer {
  position: absolute;
  right: 80px;
}
.bdbox .mainer p {
  font-size: 20px;
}
.bdbox .mainer .pri {
  margin: 20px 0;
  color: #ccc;
  font-size: 18px;
}
.bdbox .mainer .pri #pricenew {
  font-size: 24px;
  color: #E5004F;
}
.bdbox .mainer .updateCount {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #d1d1d1;
  line-height: 30px;
  cursor: pointer;
  margin-left: 5px;
  text-align: center;
}
.bdbox .mainer .shop-count {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #E5004F;
  text-align: center;
}
.bdbox .mainer input {
  height: 40px;
  width: 100px;
  margin-top: 20px;
}
#small {
  position: relative;
  cursor: move;
  width: 272px;
  height: 362px;
  border: 1px solid #f5f5f5;
  float: left;
}
#mask {
  height: 100px;
  width: 100px;
  background: gray;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#big {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: absolute;
  left: 400px;
  top: 70px;
  display: none;
  z-index: 5;
}
#big img {
  position: absolute;
  left: 0;
  top: 0;
}
